<form class="" action="/average_joes" method="post">

  <label for="first-name">First Name:</label>
    <input id ="first-name" type="text" name="first_name" value="">

  <label for="last_name">Last Name:</label>
    <input id ="last-name" type="text" name="last_name" value="">

  <label for="email">Email:</label>
    <input id ="email" type="text" name="email" value="">

  <input type="submit" name="" value="Add Member">
</form>
