<form class="" action="/average_joes/gym_classes/completed" method="post">

  <label for="gym-class">Gym Class:</label>
    <select id="gym-class" class="" name="gym_class_type">
      <option value="Crossfit">CrossFit</option>
      <option value="Yoga">Yoga</option>
      <option value="Olympic Lifting">Olympic Lifting</option>
      <option value="pilates">Pilates</option>
    </select>

  <label for="class-time">Time:</label>
    <input id ="class-time" type="text" name="class_time" value="">

  <input type="submit" name="" value="Add Class">
</form>
