<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Average Joes</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/buttons.css">
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&family=Oleo+Script:wght@700&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/average_joes">Home</a></li>
        <li><a href="/average_joes/new_member">Add Member</a></li>
        <li><a href="/average_joes/gym_classes/new_class">Add Gym Class</a></li>
        <li><a href="/average_joes/gym_classes/view_classes">View Gym Class</a></li>
        <li><a href="/average_joes/view_members">View Members</a></li>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
