body {
  background: #ffc40c url('/images/logo.png');
  background-repeat: no-repeat;
}


a {
  font-family: Helvetica, sans-serif;
}

nav ul li {
  display: flex;
  display: inline-block;
  padding: 30px;
}
